@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');




.landing__container {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../assets/images/Screenshot\ \(176\).png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

.logo__container {
    /* border: 2px solid red; */
    height: auto;
    width: auto;
    margin-top: 0.5rem;
}

.logo {
    /* border: 2px solid red; */
    padding: 0;
    height: 4rem;
}


.subtitle {
    margin-top: 4rem;
    width: 100%;
    color: black;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}

.sub_subtitle {
    /* width: 45vw; */
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.animation {

    /* border: 2px solid red; */
    height: 100%;

}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

    .animation {
        margin-top: 5rem;

    }

    .subtitle {
        margin-top: 30px;
        margin-bottom: 20px;
    }

}

/* For medium devices */
@media screen and (max-width: 826px) {

    .logo {
        height: 60px;
    }

    .subtitle {
        margin-top: 40px;
        font-weight: 600;
        letter-spacing: 0.2rem;
    }

    .sub_subtitle {
        font-weight: 400;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
    }

}

/* For small devices */
@media screen and (max-width: 376px) {
    .logo {
        height: 45px;
    }

    .subtitle {
        margin-top: 30px;
        letter-spacing: 0.2rem;
        font-size:larger;
        font-weight: 700;
        line-height: 1.6rem;
    }

    .sub_subtitle {
        line-height: 1.6rem;
        font-size:200;
        font-weight: 300;
    }


}